/* Rimozione margini e padding di base */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #1e1e2f; /* Viola scuro */
  color: white;
  font-family: 'Inter', sans-serif;
}

/* Colori e stili per la barra superiore */
.topbar {
  background-color: #2b2b3d;
  color: white;
}

/* Personalizzazione delle cards */
.card-custom {
  border: 2px solid #c542f5;
  transition: box-shadow 0.3s, background-color 0.3s;
  background-color: #121212;
}

.card-header a.collapse-toggle {
  color: #c542f5 !important;
  font-weight: bold;
  text-align: left;
  text-shadow: 0 0 10px #c542f5;
  transition: all 0.3s ease;
}

.card-header a.collapse-toggle:hover {
  text-shadow: 0 0 14px #c542f5, 0 0 20px #c542f5;
  color: #e273ff !important;
}

.collapse.show ~ .card-body,
.card-custom.active {
  box-shadow: 0 0 15px rgba(197, 66, 245, 0.6);
  background-color: #212529;
}

/* Impaginazione */
.pagination .page-item .page-link {
  background-color: #2b2b3d;
  color: #fff;
  border: none;
  margin: 0 5px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.pagination .page-item .page-link:hover {
  background-color: #4e4e6e;
  color: #ffffff;
  transform: scale(1.05);
}

.pagination .page-item.active .page-link {
  background-color: #4e4e6e;
  color: #ffffff;
}

.footer {
  background-color: #2b2b3d;
  color: #ccc;
  text-align: center;
  padding: 10px;
  border-top: none;
}

/* Titoli e paragrafi */
h1 {
  color: #c542f5;
  font-size: 50px;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
}

p, ul {
  color: white;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  text-align: left;
}

ul {
  font-size: 17px;
}

.link-menu a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  display: block;
  padding: 8px;
  transition: all 0.3s ease;
  border-radius: 5px;
}

.link-menu a:hover {
  background-color: #4e4e6e;
  color: #ffffff;
  transform: scale(1.05);
}

.footer span:hover {
  color: #ffffff;
  transition: color 0.3s ease;
}

/* Dashboard layout */
.dashboard {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.card {
  background-color: #121212;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  padding: 1rem 2rem;
  flex: 1;
  min-width: 300px;
  color: white;
}

.chart-title {
  color: #c542f5;
  font-weight: 600;
  font-size: 1
